<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.phone.thephone.call.dialer">

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" /> <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" /> <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SEND_SMS" />



    <application
        android:name="vn.com.call.App"
        android:allowBackup="true"
        android:icon="@drawable/phone"
        android:label="@string/app_name"
        android:roundIcon="@drawable/phone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="vn.com.call.editCall.MyConnectionService"
            android:enabled="true"
            android:exported="true"

            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
                <intent-filter>
                    <action android:name="android.telecom.ConnectionService" />
                </intent-filter>
            </service>

        <activity
            android:name="vn.com.call.editCall.PhoneAccountChooseActivity"
            android:taskAffinity=".phone_account_choose.PhoneAccountChooseActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"/>

        <activity
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:name="vn.com.call.ui.CallActivity"
            android:exported="false" />
        <activity
            android:name="vn.com.call.ui.intro.IntroActivity"
            android:exported="false" />
        <activity
            android:name="vn.com.call.ui.main.FavoritesAddFragment"
            android:label="@string/title_activity_favorites_add_fragment"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name="vn.com.call.utils.UserPresentReceiver">
            <intent-filter
                android:enabled="true"
                android:exported="false">
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="vn.com.call.utils.AppCheckService"
            android:enabled="true" />
        <service
            android:name="vn.com.call.touchbar.TouchBarService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="vn.com.call.service.HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>

        <activity
            android:name="vn.com.call.receiver.MmsReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </activity>

        <receiver
            android:name="vn.com.call.receiver.SmsReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
                <action android:name="com.dialer.ios.iphone.contacts.MARK_READ" />
                <action android:name="com.dialer.ios.iphone.contacts.REPLY" />
                <action android:name="com.dialer.ios.iphone.contacts.MARK_READ_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.klinker.android.send_message.SentReceiver"
            android:taskAffinity="com.dialer.ios.iphone.contacts.SMS_SENT" />
        <receiver
            android:name="com.klinker.android.send_message.DeliveredReceiver"
            android:taskAffinity="com.dialer.ios.iphone.contacts.SMS_DELIVERED" />
        <receiver
            android:name="vn.com.call.receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name="vn.com.call.ui.FeedbackActivity" />
        <activity android:name="vn.com.call.ui.PeopleAndOptionOfConversationActivity" />
        <activity
            android:name="vn.com.call.ui.LockScreenActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="vn.com.call.ui.setting.SettingCallFlashPreviewActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name="vn.com.call.fbmess.LoginFBActivity"
            android:theme="@style/Theme.Transparent" />
        <activity android:name="vn.com.call.ui.setting.SecuritySettingsActivity" />
        <activity android:name="vn.com.call.ui.setting.LanguageSettingActivity" />
        <activity android:name="vn.com.call.ui.setting.ChatheadSettingActivity" />
        <activity android:name="vn.com.call.ui.setting.SettingCallFlashActivity" />
        <activity android:name="vn.com.call.ui.setting.SettingsSmsActivity" />
        <activity android:name="vn.com.call.ui.NewConversationActivity" />
        <activity
            android:name="vn.com.call.ui.messenger_apps.ConversationActivity"
            android:parentActivityName="vn.com.call.ui.main.MainActivity"
            android:theme="@style/ComposeTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vn.com.call.ui.main.MainActivity" />
        </activity>
        <activity android:name="vn.com.call.ui.ListCallLogByContactActivity" />
        <activity android:name="vn.com.call.ui.ContactDetailActivity" />
        <activity android:name="vn.com.call.ui.CallLogDetailActivity" />
        <activity
            android:name="vn.com.call.ui.messenger_apps.AddMessengerAppActivity"
            android:label="@string/title_activity_add_messenger_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="vn.com.call.ui.main.PermisstionActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="vn.com.call.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- <data android:mimeType="vnd.android.cursor.dir/calls"/> -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tel" />
            </intent-filter>
        </activity>
        <activity
            android:name="vn.com.call.ui.intro.IntroSplashActivity"
            android:allowTaskReparenting="true" />

        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />

        <service
            android:name="vn.com.call.call.service.CallService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />

            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>
        <receiver android:name="vn.com.call.call.service.CallReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>

        </receiver>

        <service android:name="vn.com.call.editCall.CallLogNotificationsService" android:exported="true" android:directBootAware="true"/>

        <service
            android:name="vn.com.call.call.util.NotificationServiceCustom"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name="vn.com.call.call.service.PhoneStateReceiver"
            android:enabled="true">

            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <service
            android:name="vn.com.call.call.service.ServiceCallRing"
            android:enabled="true" />
        <service android:name="vn.com.call.editCall.NotificationActionService"/>
        <receiver android:name="vn.com.call.call.service.MissedCallNotificationReceiver" android:exported="true" android:directBootAware="true">
            <intent-filter>
                <action android:name="android.telecom.action.SHOW_MISSED_CALLS_NOTIFICATION"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>